/*--------------------------------------------------------------
About me
--------------------------------------------------------------*/
.about-me {
    position: relative;
    background-color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.about-me .about-me-banner {
    width: 100%;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

.about-me .about-me-header {
    padding: 0 15px;
}

.about-me .about-me-header .about-me-avatar {
    position: relative;
    float: left;
    max-width: 50%;
    margin-top: -60px;
    margin-right: 15px;
    border: 3px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.about-me .about-me-header .about-me-name {
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    text-transform: uppercase;
    clear: none;
}

.about-me .about-me-text {
    padding: 10px 15px 20px;
    overflow: hidden;
    word-wrap: break-word;
}

.about-me .about-me-social {
    overflow: hidden;
    display: table !important;
    width: 100% !important;
    text-align: center;
    table-layout: fixed !important;
}

.about-me .about-me-social li:first-child a {
    -webkit-border-radius: 0 0 0 2px;
    -moz-border-radius: 0 0 0 2px;
    border-radius: 0 0 0 2px;
}

.about-me .about-me-social li {
    display: table-cell !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    -webkit-transition: all 0.16s ease;
    -moz-transition: all 0.16s ease;
    transition: all 0.16s ease;
}

.about-me .about-me-social li a {
    display: block !important;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    height: 40px;
    width: 100%;
    border: 0 !important;
    padding: 0 !important;
}

.about-me .about-me-social li a:hover {
    -webkit-box-shadow: inset 0 16px 10px -10px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 16px 10px -10px rgba(0,0,0,0.3);
    box-shadow: inset 0 16px 10px -10px rgba(0,0,0,0.3);
}

.about-me .about-me-social li:last-child a {
    -webkit-border-radius: 0 0 2px 0;
    -moz-border-radius: 0 0 2px 0;
    border-radius: 0 0 2px 0;
}

/*style color*/
.about-me .about-me-social.style-color li a,
.about-me .about-me-social.style-color li a:hover,
.about-me .about-me-social.style-light li a:hover {
    color: #fff;
}

.about-me .about-me-social.style-color li.facebook a,
.about-me .about-me-social.style-light li.facebook a:hover,
.about-me .about-me-social.style-dark li.facebook a:hover {
    background: #37589b;
}

.about-me .about-me-social.style-color li.facebook a:hover {
    background: #4e7ddd;
}

.about-me .about-me-social.style-color li.twitter a,
.about-me .about-me-social.style-light li.twitter a:hover,
.about-me .about-me-social.style-dark li.twitter a:hover {
    background: #46d4fe;
}

.about-me .about-me-social.style-color li.twitter a:hover {
    background: #7ee1fe;
}

.about-me .about-me-social.style-color li.google-plus a,
.about-me .about-me-social.style-light li.google-plus a:hover,
.about-me .about-me-social.style-dark li.google-plus a:hover {
    background: #de5a49;
}

.about-me .about-me-social.style-color li.google-plus a:hover {
    background: #fc7a69;
}

.about-me .about-me-social.style-color li.instagram a,
.about-me .about-me-social.style-light li.instagram a:hover,
.about-me .about-me-social.style-dark li.instagram a:hover {
    background: #5996c7;
}

.about-me .about-me-social.style-color li.instagram a:hover {
    background: #69b4f0;
}

.about-me .about-me-social.style-color li.linkedin a,
.about-me .about-me-social.style-light li.linkedin a:hover,
.about-me .about-me-social.style-dark li.linkedin a:hover {
    background: #419cca;
}

.about-me .about-me-social.style-color li.linkedin a:hover {
    background: #52c3fc;
}

.about-me .about-me-social.style-color li.pinterest a,
.about-me .about-me-social.style-light li.pinterest a:hover,
.about-me .about-me-social.style-dark li.pinterest a:hover {
    background: #cb2027;
}

.about-me .about-me-social.style-color li.pinterest a:hover {
    background: #f7555c;
}

.about-me .about-me-social.style-color li.youtube-play a,
.about-me .about-me-social.style-light li.youtube-play a:hover,
.about-me .about-me-social.style-dark li.youtube-play a:hover {
    background: #dd4646;
}

.about-me .about-me-social.style-color li.youtube-play a:hover {
    background: #ff6262;
}

/*style light color hover*/
.about-me .about-me-social.style-light li a {
    background: #eee;
    color: #333;
}

/*style dark color hover*/
.about-me .about-me-social.style-dark li a {
    background: #333;
    color: #fff;
}