/*--------------------------------------------------------------
Menu
--------------------------------------------------------------*/
.uwl_menu_widget > ul {
	display: block;
	overflow: hidden;
}

.uwl_menu_widget ul li {
	position: relative;
	border-bottom: 1px solid #e0e0e0;
}

.uwl_menu_widget ul li:last-child {
	border-bottom: 0;
}

.uwl_menu_widget ul li a {
	display: block;
	padding: 12px 25px 12px 0;
	font-size: 13px;
	line-height: 1;
	font-weight: 600;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.uwl_menu_widget li .uwl-sub-icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	color: #aaa;
	font-size: 13px;
	line-height: 37px;
	cursor: pointer;
	text-align: right;
	z-index: 10;
}

.uwl_menu_widget li .uwl-sub-icon:hover {
	color: #4dbefa;
}

.uwl_menu_widget li.open-sub > .uwl-sub-icon i.icon_plus,
.uwl_menu_widget li > .uwl-sub-icon i.icon_close {
	display: none;
}

.uwl_menu_widget li.open-sub > .uwl-sub-icon i.icon_close {
	display: inline-block;
}

.uwl_menu_widget .uwl-sub-menu {
	display: none;
	padding-left: 20px;
}

.uwl_menu_widget .uwl-sub-menu ul ul ul {
	padding-left: 0;
}

.uwl_menu_widget .uwl-sub-menu li:last-child {
	border-bottom: 0;
}

.uwl_menu_widget .uwl-sub-menu li a {
  font-size: 12px;
  font-weight: 400;
}

.uwl_menu_widget .uwl-sub-menu li .uwl-sub-icon {
	font-size: 12px;
	line-height: 36px;
}

.uwl_menu_widget .uwl-sub-menu li a:before {
	content: "-";
	margin-right: 10px;
}

.uwl_menu_widget .uwl-sub-menu .uwl-sub-menu li a:before {
  content: "- -";
  margin-right: 10px;
}