.uwl-services-list li{background:#fcfcfc;padding:10px;border:1px solid #e3e3e3;margin-bottom:10px;overflow: hidden;cursor:move;}
.tab_sortable li{background: #fafafa;padding: 10px;border: 1px solid #eee;cursor: move;list-style: none;}
.tab_sortable .placeholder{background-color: #ffe9e9;border: 1px dashed #E7A9A9;padding: 10px;height: 20px;}
.uwl-sw-container label{color: #666;font-weight:bold;}
.uwl-sw-container input{margin-top:5px;}
.uwl-services-list .placeholder{border:1px dashed #e3e3e3;}
.uwl-left,.uwl-right{min-height: 48px;}
.uwl-left{float: left;width: 48%;}
.uwl-right{float: right;width: 48%;}
/*admin notice*/
div.updated.uwl-updated {border-color: #4dbefa;}
.uwl-nag {position: relative; overflow: hidden}
.uwl-nag .uwl-close-icon {right: 0; padding: 0; margin: 8px 0; cursor: pointer; outline: 0 !important;}
.uwl-nag .icon {float: left; margin: 12px 8px 8px 12px;}
.uwl-nag .icon img {max-width: 60px;}
.uwl-nag .text {float: left; font-size: 15px; line-height: 26px; color: #000; margin: 18px 18px 14px; max-width: 80%;}
.uwl-nag .text span {display: block; font-size: 12px; opacity: 0.7;}
.uwl-nag .uwl-button a {float: right; line-height: 24px; font-size: 14px; margin: 18px 28px 18px 16px; padding: 12px 29px; background: #4dbefa; color: #fff; font-weight: bold; text-decoration: none; text-transform: uppercase; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.uwl-nag .uwl-button a:hover,.uwl-nag .uwl-button a:focus {background: #222; color: #fff;}
@media only screen and (max-width: 767px) {
	.uwl-left,.uwl-right{float: none;width: 100%;}
}
@media only screen and (max-width: 800px) {
	.uwl-nag .icon{display: none;}
	.uwl-nag .text{font-size: 13px;}
}
@media only screen and (max-width: 650px) {
	.uwl-nag .text{margin: 18px 0;}
	.uwl-nag .uwl-button a{padding: 12px 18px;}
}
@media only screen and (max-width: 550px) {
	.uwl-nag .text{max-width: 95%;}
	.uwl-nag .uwl-button a{display: inline-block; float: none; margin: 0;}
}

/*dashboard latest posts of KhoThemes*/
#kt_dashboard_widget_uwl a.rsswidget { font-weight: 400; }